@import url('https://fonts.googleapis.com/css?family=Fascinate+Inline');

html, body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 70px auto 50px;
}

body.auth{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

header {
    box-shadow: 0 2px 2px rgba(75, 41, 107, 0.25);
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    list-style: none;
    padding: 0 !important;
    margin: 0 !important;
    vertical-align: center;
}

header nav ul > li {
    display: inline;
    padding: 25px 10px;
}

header nav ul > li > a {
    text-decoration: none;
    color: #302f2f;
    font-weight: 500;
}

header nav ul > li:hover {
    background: #4b296b;
}

header nav ul > li:hover > a, header nav ul > li:hover > a:hover {
    color: white;
    font-weight: 600;
}

.logo{
    font-family: 'Fascinate Inline', cursive;
    margin: 0 !important;
    font-size: 2rem;
}

#search-form { 
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#search-form input {
    height: 40px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding-left: 20px;
    font-size: 1rem;
    border: solid #55acee 4px;
    width: 80%;
}

#search-form input:focus { outline: none; }

#search-form button {
    height: 40px;
    color: whitesmoke;
    background-color: #55acee;
    border: solid #55acee 4px;
    text-transform: uppercase;
    width: 20%;
    padding: 1px 6px !important;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    font-size: 1rem;
    letter-spacing: 2px;
    font-weight: 700;
    cursor: pointer;
}

footer {
    background-color: whitesmoke;
    color: #2f2f30;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-top: solid 0.5px #4b296b;
}

.fa-facebook { color:#0e1f56; }
.fa-twitter { color: #55acee;  }
.fa-instagram { 
    background-image: linear-gradient(red, orange);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

#main-carousel{
    width: 100vw !important;
}

#main-carousel .owl-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #cccccc;
    margin: 0;
}

#main-carousel .owl-dots .owl-dot {
    position: relative;
    padding: 15px 0;
    width: 25%;
    text-align: center;
    font-size: 0.95rem;
}

#main-carousel .owl-dots .owl-dot.active {
    border-bottom: 2px solid #02254D;
    color: #02254D;
    font-weight: 600;
}

#main-carousel .owl-dots .owl-dot:hover {
    color: #02254D;
    font-weight: lighter;
}

#products-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.prod-card {
    width: 23vw;
    height: 450px;
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.prod-card__image{
    width: 100%;
    height: 380px;
    object-fit: contain;
    border-bottom: solid 0.5px whitesmoke;
}

.prod-card__det{
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.prod-card__det .prod-name{
    font-size: 14px;
    text-align: center !important;
    width: 96%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-decoration: none;
    color: black;
    font-weight: lighter !important;
}

.prod-card__det .prod-name:hover{
    font-weight: bolder;
    color: #003399;
    text-decoration: underline;
}

.prod-card__det .prod-extra{
    width: 96%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.btn-cart{
    background-color:whitesmoke;
    border: solid 1px #4b296b;
    padding: 2px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bolder;
    text-transform: uppercase;
}

.btn-cart:hover{
    background-color:#4b296b;
    border: solid 1px whitesmoke;
    color: white;
    border-radius: 0;
}

#auth-container{
    width: 450px;
    border-radius: 8px;
    background-color: whitesmoke;
    background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(whitesmoke));
    background-image: -webkit-linear-gradient(top, white, whitesmoke);
    background-image: -moz-linear-gradient(top, white, whitesmoke);
    background-image: -ms-linear-gradient(top, white, whitesmoke);
    background-image: -o-linear-gradient(top, white, whitesmoke);
    background-image: linear-gradient(top, white, whitesmoke);
    padding: 30px;
    position: absolute;
    z-index: 0;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2),
                0 1px 1px rgba(0, 0, 0, 0.2),
                0 3px 0 white,
                0 4px 0 rgba(0, 0, 0, .2),
                0 6px 0 white,
                0 7px 0 rgba(0, 0, 0, .2);
}

#auth-container::before{
    content: '';
    position: absolute;
    z-index: -1;
    border: 1px dashed #ccc;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    box-shadow: 0 0 0 1px white;
    border-radius: 8px;
}

.auth-title{
    text-shadow: 0 1px 0 rgba(255, 255, 255, .7), 0 2px 0 rgba(0, 0, 0, .5);
    text-transform: uppercase;
    text-align: center;
    color: #666;
    margin: 0 0 30px 0;
    letter-spacing: 4px;
    font: normal 26px/1 Verdana, Helvetica;
    position: relative;
}

.auth-title::after, .auth-title::before{
    background-color: #777;
    content: "";
    height: 1px;
    position: absolute;
    top: 15px;
    width: 100px;
}

.auth-title::after{ 
    background-image: -webkit-gradient(linear, left, from(#777), to(white));
    background-image: -webkit-linear-gradient(left, #777, white);
    background-image: -moz-linear-gradient(left, #777, white);
    background-image: -ms-linear-gradient(left, #777, white);
    background-image: -o-linear-gradient(left, #777, white);
    background-image: linear-gradient(left, #777, #fff);
    right: 0;
}

.auth-title::before{ 
    background-image: -webkit-gradient(linear, right, from(#777), to(white));
    background-image: -webkit-linear-gradient(right, #777, white);
    background-image: -moz-linear-gradient(right, #777, white);
    background-image: -ms-linear-gradient(right, #777, white);
    background-image: -o-linear-gradient(right, #777, white);
    background-image: linear-gradient(right, #777, white);
    left: 0;
}

fieldset{
    border: 0;
    padding: 0;
    margin: 0;
}

.inputs input{
    padding: 10px 15px;
    margin: 0 0 10px 0;
    width: 420px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
}

.inputs input:focus{
    background-color: #fff;
    border-color: #55acee;
    outline: none;
    box-shadow: 0 0 0 1px #55acee inset;
}

.actions{
    margin: 10px 0 0 0;
}

.actions a {
    color: #003399;    
    float: right;
    font-size: 13px;
    line-height: 35px;
    margin-left: 10px;
}

.submit{		
    background-color: #711dc0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#5e3783), to(#711dc0));
    background-image: -webkit-linear-gradient(top, #5e3783, #711dc0);
    background-image: -moz-linear-gradient(top, #5e3783, #711dc0);
    background-image: -ms-linear-gradient(top, #5e3783, #711dc0);
    background-image: -o-linear-gradient(top, #5e3783, #711dc0);
    background-image: linear-gradient(top, #5e3783, #711dc0);
    
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;    
    
    border-width: 1px;
    border-style: solid;
    border-color: #9367bd #7629be #8020da #7c0be6;
    border-radius: 4px;

    float: left;
    height: 35px;
    padding: 0;
    width: 120px;
    cursor: pointer;
    font: bold 15px Arial, Helvetica;
    color: whitesmoke;
}

.submit:hover, #submit:focus {		
    background-color: #711dc0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#711dc0), to(#5e3783));
    background-image: -webkit-linear-gradient(top, #711dc0, #5e3783);
    background-image: -moz-linear-gradient(top, #711dc0, #5e3783);
    background-image: -ms-linear-gradient(top, #711dc0, #5e3783);
    background-image: -o-linear-gradient(top, #711dc0, #5e3783);
    background-image: linear-gradient(top, #711dc0, #5e3783);
}	

.submit:active {		
    outline: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;		
}

.submit::-moz-focus-inner{
  border: none;
}

#back{
    display: block;
    text-align: center;
    position: relative;
    top: 60px;
    color: #999;
}

p.msg{
    text-align: center;
    color: red;
    font-size: 14px;
}

#welcome.dropdown{
    display: inline-block;
}

#welcome .dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 187px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 9999;
}

#welcome .dropdown-content a {
    color: black;
    padding: 10px 8px;
    text-decoration: none;
    display: block;
    text-align: left;
    text-align: right;
}
  
#welcome .dropdown-content a:hover {background-color: #f1f1f1;}

#welcome.dropdown:hover .dropdown-content {
    display: block;
    top: 70px;
    right: 160px;
}